<!DOCTYPE html>
<html lang="en-us" >
<!--suppress ALL -->
<head>
<title>
    {% block title %}{{ title }} | {{ site_title|default:_('Notebook of sun') }}{% endblock %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% load i18n static %}

{% block extrastyle %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">
    <!-- Banner -->
	{% block banner %}
	    <div id="header" class="head-bar row">
			<div class="align-left font-type col-6">
				{% block branding %}
					<span class="icon icon-menu" onclick="control_panel()"> </span>
				{% endblock %}
				{% block header %}Base{% endblock %}
			</div>
	        {% block branding-right %}
            <div class="align-right col-6">
		        <span class="icon icon-search" onclick="search()"> </span>
		        <span class="icon icon-add" onclick="add_question()"> </span>
	        </div>
	        {% endblock %}
		</div>

	{% endblock %}


{% block type-component %}
	<div class="nav-wrapper"></div>
    <nav id="user-panel" class="left-panel">
        <div class="avatar-card mb-4">
            <div class="avatar-img-container ">
	            <img class="avatar-img"/>
            </div>
			<div class="avatar-profile">
		        {% if user.user_name %}
	            <h5>{{ user.user_name }}</h5>
	            <p><a  href="{% url 'login' %}" onclick="logout()">Logout</a></p>
		        {% endif %}
		        {% if not user.user_name %}
		            <a href="{% url 'login' %}">Login</a>
		        {% endif %}
			</div>
		</div>
        <br class="clear" />

		<div id="type-content" class="">
			<div class="font-type pl-3">Base</div>
		{% block type_gorup %}
			{% for each in type_content %}
			<div class="form-control mb-2 type-selector" id="type_{{ each.id }}">
				<b>{{ each.name }}</b>
			</div>
			{% endfor %}
		{% endblock %}
			<div class="input-group">
				<a class="pl-3 middle mr-2" onclick="add_type()"><b>+</b></a>
				<input type="text" class="form-control line-input no-background" placeholder="输入新类型，点击左侧‘+’添加" aria-label="Type" id="type-inputer" hidden>
			</div>
		</div>

        <div class="">
			<div class="font-type pl-3">Quiz</div>
        </div>
    </nav>
{% endblock %}

    <!-- Content -->
    <div id="content"  class="container px-2">



	    <div class="row mt-4 mb-2">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>

        {% block login-component %}

        {% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->


</div>
<!-- END Container -->
<script>
status = 0;
serviceTicket = "";
session = sessionStorage;
API_PATH = location.origin + "/";
CSRFTOKEN = '{{ csrf_token }}';
</script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static "layer/layer.js" %}"></script>
<script src="{% static "js/auth.js" %}"></script>
<script src="{% static "js/index.js" %}"></script>

{% block extrascript %}{% endblock %}
</body>
</html>
