{% extends "base.html" %}
{% load i18n static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
{% endblock %}

{% block type_gorup %}
	{% for each in type_content %}
	<div class="question-card mb-2 type-selector" id="type_{{ each.id }}">
		<b>{{ each.name }}</b>
	</div>
	{% endfor %}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 mt-4 mb-4">

<center>
	<textarea id="question-name" type="text" class="no-background form-control line-input mr-auto ml-auto mb-2" placeholder="" aria-label=""></textarea>
	<input id="ans-1" type="text" class="no-background form-control mb-2" placeholder="right answer" aria-label="">
	<input id="ans-2" type="text" class="no-background form-control mb-2" placeholder="first wrong answer" aria-label="">
	<input id="ans-3" type="text" class="no-background form-control mb-2" placeholder="" aria-label="">
	<input id="ans-4" type="text" class="no-background form-control mb-2" placeholder="" aria-label="">
    <p>may the force be with you.</p>
</center>
</div>
<div class="col-xs-12 col-sm-12 mb-4">

<center>
    <button id='btn-edit' class="btn btn-outline-secondary" type="button" hidden> Edit </button>
    <button id='btn-save' class="btn btn-outline-secondary" type="button" onclick="save_question()"> Save </button>
    <button id='btn-delete' class="btn btn-outline-secondary" type="button" hidden> Delete </button>
	<button id='btn-back' class="btn btn-outline-secondary" onclick="location.href = API_PATH + 'u/' + session.uuid + '/' " type="button"> Cancel </button>
</center>
</div>

{% endblock %}

{% block plug-q %}

{% endblock %}

{% block extrascript %}
<script>
{% if user.user_name %}
	login('{{ user.id }}');
	user_name = '{{ user.user_name }}';
{% endif %}
check_login();
</script>
	<script src="{% static "js/load.js" %}"></script>
{% endblock %}