{% extends "base.html" %}
{% load i18n static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
{% endblock %}



{% block branding %}
	<span class="icon icon-back" onclick="location.href = API_PATH + 'u/' + session.uuid + '/' "> </span>
{% endblock %}

{% block header %}
	<div class="ban-header">New</div>
{% endblock %}

{% block branding-right %}
{% endblock %}


{% block content %}
<div class="col-xs-12 col-sm-12  mb-4">

<center>
	<div class="col-10 col-sm-8">
	<textarea id="question-name" type="text" class="no-background line-input mr-auto ml-auto" placeholder="" aria-label=""></textarea>
	<input id="ans-1" type="text" class="answer-card" placeholder="right answer" aria-label="">
	<input id="ans-2" type="text" class="answer-card" placeholder="first wrong answer" aria-label="">
	<input id="ans-3" type="text" class="answer-card" placeholder="" aria-label="">
	<input id="ans-4" type="text" class="answer-card" placeholder="" aria-label="">
    <p>may the force be with you.</p>
	</div>
</center>
</div>
<div class="col-xs-12 col-sm-12 mb-4">

<center>
<div class="col-10 col-sm-6 mb-4 row">

	<div class="col-6 align-left">

	   <div class="btn-group dropup">
		    <span id='btn-tag' class="icon question-tag" onclick="choose_tag()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > </span>
			<div id="choose_tag" class="dropdown-menu">
			{% for each in type_content %}
				<div class="dropdown-item mb-2 type-selector" id="type_{{ each.id }}">
					<b>{{ each.name }}</b>
				</div>
			{% endfor %}
			</div>
	   </div>
	    <span id='btn-save' class="icon question-save" onclick="save_question()" > </span>

	</div>

    <div class="col-6 align-right">
	    <span id='btn-save' class="icon question-delete" onclick="delete_question('this')">  </span>
    </div>
</div>




</center>
</div>

{% endblock %}

{% block plug-q %}

{% endblock %}

{% block extrascript %}
<script>
{% if user.user_name %}
	login('{{ user.id }}');
	user_name = '{{ user.user_name }}';
{% endif %}
check_login();
</script>
	<script src="{% static "js/load.js" %}"></script>
{% endblock %}