{% extends "base.html" %}
{% load i18n static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
{% endblock %}

{% block content %}


<div class="col-xs-12 col-sm-12 mt-4 mb-4">

<center>
	<input type="text" class="no-background line-input mr-auto ml-auto mb-2" placeholder="" aria-label="">
	<input type="text" class="no-background form-control mb-2" placeholder="" aria-label="">
	<input type="text" class="no-background form-control mb-2" placeholder="" aria-label="">
	<input type="text" class="no-background form-control mb-2" placeholder="" aria-label="">
	<input type="text" class="no-background form-control mb-2" placeholder="" aria-label="">
    <p>may the force be with you.</p>
</center>
</div>
<div class="col-xs-12 col-sm-12 mb-4">

<center>
    <button class="btn btn-outline-secondary" type="button"> Edit </button>
    <button class="btn btn-outline-secondary" type="button" onclick="save_question()"> Save </button>
    <button class="btn btn-outline-secondary" type="button"> Delete </button>
</center>
</div>

{% endblock %}

	{% block plug-q %}

	{% endblock %}

{% block extrascript %}
<script>
{% if user.user_name %}
	login('{{ user.id }}');
	user_name = '{{ user.user_name }}';
{% endif %}
check_login();
</script>
{% endblock %}