{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}


{% block header %}
	<div class="ban-header">{{ info }}</div>
{% endblock %}


{% block content %}

{% for question in questions  %}
	<div id="question_{{ question.id }}" type="{{ question.question_type }}" class="col-xs-12 col-sm-12 question-card real-question" onclick="open_question(this)">
		<p>{{ question.name }}</p>
		<input type="radio" class="select-tip" onclick="add_click(obj)" hidden />
	</div>
{% endfor %}



{% endblock %}


{% block extrascript %}
	<script>
		{% if user.user_name %}
			login('{{ user.id }}');
			user_name = '{{ user.user_name }}';
		{% endif %}
		check_login();
		function createQuestionList() {
			var questionList = $('.real-question');
			var u_questions =[];
			for(var i=0;i<questionList.length;i++){
				var id = $(questionList)[i].id.split('_')[1];
				u_questions[i] = id;
			}
			session.question_list = JSON.stringify(u_questions);
			console.log(session.question_list);
		}
		createQuestionList();
	</script>
	<script src="{% static "js/load.js" %}"></script>
{% endblock %}