{% extends "base.html" %}

{% block banner %}
{% endblock %}

{% block type-component %}
{% endblock %}

{% block login-component %}
<form action="{% url 'login-post' %}" class="form-horizontal" method="post" >
    {% csrf_token %}

	<div class="form-group row justify-content-center">
	  <div class="col-sm-12 mb-4">
	  <h4></h4>
	  </div>
	</div>

	<div class="form-group row justify-content-center">
	    <h5>Log in...</h5>
	</div>

  <div class="form-group row">
    <div class="col-sm-12">
      <input type="text" class="form-control" id="inputName" placeholder="Username" name="username">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" >
    </div>
  </div>

	<div class="form-group row">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary form-control">Login</button>
		</div>
	</div>

	<div class="form-group row  justify-content-center">
		<a class="ml-auto mr-auto" href="{% url 'register' %}">no account?</a>
	</div>

	{% if other %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Opppps!</strong> {{ other }}
	</div>
	{% endif %}

</form>

{% endblock %}
{% block extrascript %}
    <script>

    </script>
{% endblock %}