{% extends "base.html" %}
{% load i18n static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
{% endblock %}

{% block type_gorup %}
	{% for each in type_content %}
	<div class="question-card mb-2 type-selector" id="type_{{ each.id }}">
		<b>{{ each.name }}</b>
	</div>
	{% endfor %}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 mt-4 mb-4">

<center>
	<h5 id="question-name" type="text" class="no-background form-control line-input mr-auto ml-auto mb-2" placeholder="" aria-label="">
		{{ question.name }}
	</h5>
	<button id="ans" type="text" class="no-background form-control mb-2">
		{{ question.right_answer }}
	</button>
	{% for each in wrong_answers %}
	<button type="text" class="no-background form-control mb-2">
		{{ each }}
	</button>
	{% endfor %}
</center>
</div>
<div class="col-xs-12 col-sm-12 mb-4">

<center>
    <button class="btn btn-outline-secondary" type="button"> Edit </button>
    <button class="btn btn-outline-secondary" type="button" onclick="save_question()" disabled> Save </button>
    <button class="btn btn-outline-secondary" type="button"> Delete </button>
	<button class="btn btn-outline-secondary" onclick="location.href = API_PATH + 'u/' + session.uuid + '/' " type="button"> Back </button>
</center>
</div>

{% endblock %}

{% block plug-q %}

{% endblock %}

{% block extrascript %}
<script>
{% if user.user_name %}
	login('{{ user.id }}');
	user_name = '{{ user.user_name }}';
{% endif %}
check_login();
</script>
	<script src="{% static "js/load.js" %}"></script>
{% endblock %}