{% extends "base.html" %}
{% load i18n static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
{% endblock %}

{% block branding %}
	<span class="icon icon-back" onclick="location.href = API_PATH + 'u/' + session.uuid + '/' "> </span>
{% endblock %}

{% block header %}
	<div class="ban-header">{{ question.question_type }}</div>
{% endblock %}


{% block branding-right %}
{% endblock %}


{% block type_gorup %}
	{% for each in type_content %}
	<div class="question-card mb-2 type-selector" id="type_{{ each.id }}">
		<b>{{ each.name }}</b>
	</div>
	{% endfor %}
{% endblock %}

{% block content %}
<div class="col-12 col-sm-12 mb-4">

<center >
	<div class="col-10 col-sm-8 question-body ">
		<h5 id="question_{{ question.id }}" type="text" class="form-control line-input mr-auto ml-auto mb-4 question-header" placeholder="" aria-label="" contenteditable="false">{{ question.name }}</h5>
		{% for i in answers_index %}
			{% for key, value in answers.items %}
				{% if i == key and value != '' %}
					<div id="answer_{{ i }}" class="answer-card">{{ value }}</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</center>
</div>




{% endblock %}

{% block control-component %}
<div class="row control-panel">
	<div class="col-12">
		<center class="control-panel container">
			<div class="col-10 col-sm-6 mb-4 row ">

				<div class="col-6 align-left">
				    <span id='btn-save' class="icon question-delete" onclick="open_delete()">  </span>
				</div>

			    <div class="col-6 align-right">
				   <div class="btn-group dropup">
			            <span id='btn-edit' class="icon question-edit" onclick="edit_question()" >  </span>
					    <span id='btn-tag' style="display:none;"  class="icon question-tag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > </span>
						<div id="choose_tag" class="dropdown-menu">
						{% for each in type_content %}

							<div class="dropdown-item mb-2 type-selector {% if each.name == question.question_type  %}{{ 'active' }}{% endif %}" id="type_{{ each.id }}">
								<b>{{ each.name }}</b>
							</div>

						{% endfor %}
						</div>
						<span id='btn-save' style="display:none;" class="icon question-save" onclick="update_question()"> </span>
						</span>
				   </div>
			    </div>
			</div>
		</center>
	</div>
</div>
{% endblock %}
{% block extrascript %}
<script>
{% if user.user_name %}
	login('{{ user.id }}');
	user_name = '{{ user.user_name }}';

{% endif %}
check_login();
session.setItem('answer', '{{ secret }}');
</script>
	<script src="{% static "js/load.js" %}"></script>
{% endblock %}