{% extends "base.html" %}

{% block banner %}
{% endblock %}

{% block type-component %}
{% endblock %}

{% block login-component %}

<form action="{% url 'register-post' %}" class="form-horizontal" method="post" >
    {% csrf_token %}


	<div class="form-group row justify-content-center">
	  <div class="col-sm-12 mb-4">
	  </div>
	</div>

	<div class="form-group row justify-content-center">
	    <h5>Sign up...</h5>
	</div>

  <div class="form-group row">
    <div class="col-sm-12">
      <input type="text" class="form-control" id="inputName" placeholder="Username" name="username">
    </div>
  </div>

	<div class="form-group row">
    <div class="col-sm-12">
      <input class="form-control" placeholder="Email@example.com"  name="email" autocomplete="new">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" autocomplete="new">
    </div>
  </div>


	<div class="form-group row ">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary mb-2 form-control">Register</button>
		</div>

	</div>


	<div class="form-group row justify-content-center ">
		<a class="mr-2" href="{% url 'login' %}">already have account</a>
	</div>

	{% if other %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Opppps!</strong> {{ other }}
	</div>
	{% endif %}
</form>


{% endblock %}
{% block extrascript %}
    <script>
      
    </script>
{% endblock %}