{% extends "../base.html" %}

{% block login-component %}

<form action="{% url 'register-post' %}" class="form-horizontal" method="post" >
    {% csrf_token %}

  <div class="form-group row">
    <label class="col-sm-4 control-label">User Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="inputName" placeholder="Username" name="username">
    </div>
  </div>

	<div class="form-group row">
    <label class="col-sm-4 control-label">Email</label>
    <div class="col-sm-8">
      <input class="form-control" placeholder="email@example.com"  name="email" autocomplete="new">
    </div>
  </div>

	<div class="form-group row">
    <label class="col-sm-4 control-label">Organization</label>
    <div class="col-sm-8">
	    <input style="display: none;">
      <input class="form-control" placeholder="University of Alberta" name="org" autocomplete="off" >
    </div>
  </div>

	<div class="form-group row">
    <label class="col-sm-8 control-label">Are you studying relate subject?</label>
    <div class="col-sm-4">
      <input type="checkbox"  name="relate">
    </div>
  </div>

	<div class="form-group row">
    <label class="col-sm-8 control-label">Are you doctors?</label>
    <div class="col-sm-4">
      <input type="checkbox"  name="doctor">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPassword" class="col-sm-4 control-label">Password</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" autocomplete="new">
    </div>
  </div>

	<div class="form-group row ">
		<div class="mx-auto">
			<a href="{% url 'login' %}">already have account</a>
			<button type="submit" class="btn btn-primary mb-2">Register</button>
		</div>
	</div>

	{% if other %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>Opppps!</strong> {{ other }}
	</div>
	{% endif %}
</form>

{% endblock %}
{% block extrascript %}
    <script>

    </script>
{% endblock %}