:root{
    --white:#fff;
}
html{
    font-size: 0.625rem;
}

@font-face {
    font-family: Neon;
    src: url("../fonts/Neon.ttf");
}

.row{
    margin-right: 0!important;
    margin-left: 0!important;
}
.col-6{
    padding-right: 0;
    padding-left: 0;
}

.dropdown-item.active, .dropdown-item:active {

    text-decoration: none;
    background-color: transparent !important;
}
.dropdown-menu{
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 5px rgba(128, 128,128, 0.65);
}
.dropup .dropdown-menu {
    padding-left: 2rem;
    padding-right: 2rem;
}
input, button, input:focus , button:focus, textarea:focus{
    outline: none !important;
    outline-width: 0;
}

.head-bar{
    border-bottom: 0;
    padding:1rem 2rem;
    height: auto;
    width: 100%;
    background-color:  var(--white);
    box-shadow: 0 1px 1px rgba(128, 128,128, 0.15);
}
.icon-menu{
    background-image: url("../imgs/icon-menu.png");
}
.align-left, .align-right{
    display: inline-block;
    height: 3rem;
}
span.icon{
    display: inline-block;
}
.align-left>div, .align-left span{
    display: inline-block;
    margin-right: 1rem;
}

.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
.head-bar>.align-right>span{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}
.font-type{
    font-size: 3rem;
    font-family: Neon;
}
nav{
    display: none;
    width:60%;
    height:100vh;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #fafafa;
    transition-duration: 500ms;
}
.nav-wrapper{
    position:fixed;
    left: 0;
    top: 0;
    z-index: 200;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    opacity: 0.6;
}
.avatar-card{
    width:100%;
    height: 10rem;
    border-bottom: 0.5px solid #9CA0A0;
}
.left-panel>div{
    padding-left: 2rem;
}
.avatar-img-container{
    width:6rem;
    height:6rem;
    float: left;
    margin:2rem;
    margin-left:0;
}
.avatar-img{
    width: 100%;
    height: 100%;
    background-color: #8D8D8D;
    border-radius: 4rem;
}
.avatar-profile{
    width:6rem;
    float: left;
    margin-top:2rem;
    margin-left:1rem;
}
.avatar-profile h5{
    font-size: 3rem;
    font-family: Neon;
    margin-bottom: 0.4rem;
}
.avatar-profile p{
    font-size: 2rem;
    font-family: Neon;
}
.clear{
    clear:both;
}
.question-body{
    margin-top: 5rem;
}

.question-card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width:85%;
    padding:0.8rem 1.4rem;
    font-size:1rem;
    height:auto;
    background-color: var(--white);
    border-width : 0px;
    box-shadow: 0 1px 1px rgba(70, 92, 127, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
button.answer-card, input.answer-card{
    width: 100%;
    height: 4rem;
    margin-bottom:2rem;
    background:transparent;
    border:none;
    border-width : 0px;
    box-shadow: 0 1px 1px rgba(70, 92, 127, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 1rem;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.icon{
    width:2rem;
    height:2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
.question-edit{
    background-image: url("../imgs/icon-edit.png");
}
.icon-back{
    background-image: url("../imgs/icon-back.png");
}
.icon-add{
    background-image: url("../imgs/icon-add.png");
}
.icon-click{
    background-image: url("../imgs/icon-click.png");
}
.icon-search{
    background-image: url("../imgs/icon-search.png");
}
.question-delete{
    background-image: url("../imgs/icon-delete.png");
}
.question-save{
    background-image: url("../imgs/icon-save.png");
}
.question-tag{
    background-image: url("../imgs/icon-tag.png");
}
.big{
    font-size:2rem;
}
.middle{
    font-size:1.4rem;
}
.footer{
    padding-left: 1.4rem;
    line-height: 2rem;
    height:2rem;
      width:100%;
    background-color: var(--white) ;
    position: fixed;
    right: 0;
    bottom: 1rem;
    left: 0;
    z-index: 1030;
}

body{
    background-color:  var(--white);
    height: 100vh;
}

button.answer-card, input.answer-card,.line-input, .question-body,.question-card p, .question-card,.form-control,.type-selector b{
    font-size: 1.5rem;
}

.type-adder{
    display: none;
}
.line-input{
    border: none;
    border-bottom:1px solid #2E2D3C;
    border-radius: 0;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.no-background{
    background: none!important;
}
.form-control{
    box-shadow: none;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
}
.form-line{
    border-bottom: 1px solid #2E2D3C;
}
.type-selector{
    padding-left:1rem;
}
.type-selector.active{
    border-bottom: 1px solid #2E2D3C;
}
.question-keyword{
    border-bottom: 1px solid #8D8D8D;
    min-width:3rem;
    margin-left:1rem;
    margin-rightt:1rem;
    display: inline-block;
}
*{
    color:#969696;
}
.question{
    font-family: 'A+9rnz-凸版文久明朝 Pr6N R';
}
.layer-content{
    background-color: var(--white);
    width:100vw;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10001;
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 0;
    top:0;
}
.layer-content>input, .layer-content>span{
    display: inline-block;

    margin:0;

}
.layer-content>span{
    margin-left:1rem;
    position: relative;
    top:0.5rem;
}