.question-card{
    width:100%;
    padding:0.8rem 1.4rem;
    font-size:0.8rem;
    height:auto;
    background-color: #fafafa;
}
.big{
    font-size:2rem;
}
.middle{
    font-size:1.4rem;
}
.footer{
    padding-left: 1.4rem;
    line-height: 2rem;
    height:2rem;
      width:100%;
    background-color: #fafafa;
    position: fixed;
    right: 0;
    bottom: 1rem;
    left: 0;
    z-index: 1030;
}

body{
    background-color: rgba(0, 222, 209, 0.15);
    height: 100vh;
}
.line-input{
    border: none;
    border-bottom:1px solid #2E2D3C;

}
.no-background{
    background: none!important;
}
.form-control{

}